.navWrapper {
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222831;
}

.main {
  margin-left: 270px;
  padding: 3em;
  width: 100%;
}

.wrapper {
  display: flex;
}
