@import "styles/variables";
@import "styles/mixins";

.img {
  width: 100%;
  height: 374px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: $blockMarginBottom;
}

