@import "styles/variables";
@import "styles/mixins";

.img {
  width: 100%;
  height: 284px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: $blockMarginBottomMobile;

  @include respond-above(md) {
    height: 374px;
    margin-bottom: $blockMarginBottom;
  }
}

