@import "styles/variables";
@import "styles/mixins";

.col {
  width: 100%;

  @include respond-above(md) {
    width: 50%;
  }

  &:first-child {
    margin: 50px 0;

    @include respond-above(md) {
      margin: 0;
    }
  }
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include respond-above(md) {
    flex-direction: unset;
  }
}

.dot {
  color: $secondary;
}

.img {
  width: 290px;
  height: 281px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin: 3em 0;
}

.title {
  text-transform: uppercase;
  font-size: 2em;
}

.wrapper {
  padding: 20px 2em;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond-above(md) {
    padding: 20px 8em;
    min-height: 650px;
    max-height: 768px;
    flex-direction: unset;
  }

  @include respond-above(hhg) {
    padding: 20px 300px;
  }
}
