@import "styles/variables";
@import "styles/mixins";

.col {
  width: 50%;
}

.content {
  display: flex;
  width: 100%;
}

.dot {
  color: $secondary;
}

.img {
  width: 290px;
  height: 281px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin: 3em 0;
}

.title {
  text-transform: uppercase;
  font-size: 2em;
}

.wrapper {
  min-height: 650px;
  max-height: 768px;
  padding: 20px 8em;
  display: flex;
  align-items: center;
}
