.img {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.input {
  display: none;
}

.uploadBtn {
  padding: 100px;
  background: rgba(196, 196, 196, 0.12);
  border: 1.6px dashed #b0b0b0;
  color: #D7D7D7;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  height: 300px;
}

.success {
  color: #70a670;
}