@import "styles/variables";
@import "styles/mixins";

.item {
  flex: 0 30%;
  margin-bottom: 4em;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include respond-above(md) {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: unset;
  }
}

