@import "styles/variables";
@import "styles/mixins";

.item {
  flex: 0 30%;
  margin-bottom: 4em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  @include respond-above(md) {
    // padding: 0 8em 4em;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: unset;
  }

  // @include respond-above(hhg) {
  //   padding: 0 300px;
  // }
}

