@import "styles/variables";

.button {
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 2px;
}

.primary {
  background: $secondary;
  color: #222831;
}

.secondary {
  background-color: rgb(239, 239, 239);
  color: #000;
}

.small {
  padding: 7px 11px;
}