@import "styles/variables";
@import "styles/mixins";

.content {
  padding: 80px 0;
}

.details {
  padding: 0 8em;

  @include respond-above(hhg) {
    padding: 0 300px;
  }
}

.headerImg {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.title {
  padding: 80px 0;
  border-bottom: 0.3px solid #ECECEC;

  h1 {
    color: $secondary;
  }
}
