@import "styles/variables";
@import "styles/mixins";

.img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 243px;
  border-radius: 8px;
  margin-bottom: 25px;

  @include respond-above(md) {
    width: 316.03px;
    margin: 0;
  }
}

.text {
  width: 100%;

  @include respond-above(md) {
    width: 65%;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 7px;
  }

  .description {
    margin-top: 30px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;

  &:not(:last-of-type) {
    margin-bottom: 90px;

    @include respond-above(md) {
      margin-bottom: 147px;
    }
  }

  &:nth-child(odd) {
    
    @include respond-above(md) {
      flex-direction: row-reverse;
    }

    .text {
      @include respond-above(md) {
        padding-left: 25px;
      }
    }
  }

  @include respond-above(md) {
    align-items: center;
    justify-content: space-between;
    flex-direction: unset;
  }

  .text {
    @include respond-above(md) {
      padding-right: 25px;
    }
  }
}