.img {
  background-size: cover;
  background-position: center;
  width: 316.03px;
  height: 243px;
  border-radius: 8px;
}

.text {
  width: 65%;

  h4 {
    font-size: 24px;
    margin-bottom: 7px;
  }

  .description {
    margin-top: 30px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 147px;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .text {
      padding-left: 25px;
    }
  }

  .text {
    padding-right: 25px;
  }
}