.inputText {
  background: rgba(196, 196, 196, 0.12);
  border: none;
  padding: 1em;
  width: 100%;
  position: relative;
  outline: none;
  color: #ECECEC;

  &::placeholder {
    color: #ECECEC;
    font-size: 1em;
  }
}
