@import "styles/variables";
@import "styles/mixins";


.img {
  width: 40%;
  min-height: 284px;
  max-height: 284px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.text {
  width: 55%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: $blockMarginBottom;
}
