@import "styles/variables";
@import "styles/mixins";

.logo {
  width: 5rem;
  display: none;

  @include respond-above(md) {
    display: block;
  }
}

.linkIcon {
  @include respond-above(md) {
    display: none !important;
  }
}

.linkText {
  display: none;

  @include respond-above(md) {
    display: block;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 2em;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 2;

  @include respond-above(md) {
    padding: 20px 8em;
  }

  @include respond-above(hhg) {
    padding: 20px 300px;
  }
}

.navList {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include respond-above(md) {
    justify-content: unset;
    width: auto;
  }
}

.navList li {
  padding: 0;
  position: relative;
  cursor: pointer;

  @include respond-above(md) {
    padding: 0 25px;
  }
}

.navList li.active::after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  border-radius: 100%;
  background-color: $secondary;

  @include respond-above(md) {
    width: 8px;
    height: 8px;
    bottom: -15px;
  }
}
