.logo {
  width: 5rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
}

.navList li {
  padding: 0 25px;
  position: relative;
}

.navList li.active::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  border-radius: 100%;
  background-color: #03DAC6;
}