.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  font-size: 12px;

  span {
    padding-left: 5px;
  }
}

.footer {
  background-color: #1C2127;
  text-align: center;
  padding: 2em;

  img {
    width: 5em;
  }
}

.social {
  justify-content: center;
  display: flex;
  margin: 8px 0;
}