@import "styles/variables";
@import "styles/mixins";

.header {
  @include respond-above(md) {
    height: calc(768px - 80px);
    padding: 0 8em;
    display: flex;
    align-items: center;
  }

  @include respond-above(hhg) {
    padding: 0 300px;
  }
}

.headerContent {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  @include respond-above(md) {
    align-items: center;
    justify-content: space-between;
    flex-direction: unset;
    margin: 0;
  }
}

.headerText {
  padding: 4em 2em;
  
  @include respond-above(md) {
    width: 70%;
    padding: 0 4em 0 0;
  }

  h1 {
    color: $secondary;
    margin-bottom: .5em;
    font-size: 36px;

    @include respond-above(md) {
      font-size: 3.5em;
    }
  }

  p {
    @include respond-above(md) {
      font-size: 1.2em;
      padding-right: 15px;
    }
  }
}

.profilePic {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;

  @include respond-above(md) {
    width: 385px;
    height: 400px;
    border-radius: 8px;
  }
}

.whatIDoInfo {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;

  @include respond-above(md) {
    padding: 0 2em;
  }
}

.whatIDoWrapper {
  margin-top: -95px;
  padding: 0 2em;

  @include respond-above(md) {
    padding: 0;
  }
}
