@import "styles/variables";
@import "styles/mixins";

.header {
  height: calc(768px - 70px);
  display: flex;
  align-items: center;
  padding: 0 8em;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerText {
  width: 70%;
  padding-right: 4em;

  h1 {
    color: $secondary;
    margin-bottom: .5em;
    font-size: 3.5em;
  }

  p {
    padding-right: 15px;
    font-size: 1.2em;
  }
}

.profilePic {
  width: 385px;
  height: 400px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.whatIDoInfo {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.whatIDoWrapper {
  margin-top: -95px;
}
