.label {
  display: block;
  color: #ECECEC;
  font-size: 1em;
  margin-bottom: 1em;
}

.textArea {
  background: transparent;
  border: 1px solid rgba(236, 236, 236, 0.8);
  resize: none;
  width: 100%;
  padding: 1em;
  color: #ECECEC;
  border-radius: 3px;
  outline: none;
}

