.textArea {
  background: rgba(196, 196, 196, 0.12);
  border: none;
  resize: none;
  width: 100%;
  padding: 1em;
  color: #ECECEC;
  border-radius: 3px;
  outline: none;
  margin-bottom: 2em;

  &::placeholder {
    color: #ECECEC;
    font-size: 1em;
  }
}

