@import "styles/variables";
@import "styles/mixins";

.col {
  width: 100%;

  @include respond-above(md) {
    width: 50%;
  }
}

.skillMeter {
  display: flex;
  flex-direction: column;
  margin: 7em 0 5em;

  @include respond-above(md) {
    flex-direction: unset;
  }
}

.meter {
  border-top: 1px solid #ECECEC;
  position: relative;
}

.line {
  border-left: 1px solid #ECECEC;
  height: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &::before {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    font-size: 7px;
    display: block;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.69315px;

    @include respond-above(md) {
      font-size: 12px;
      top: -29px;
      transform:  translateX(-50%);
    }
  }
}

.lineOne {
  left: 0;

  &::before {
    content: 'WT* is this?';
  }
}

.lineTwo {
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    content: 'Oh, I see';
  }
}

.lineThree {
  right: 0;

  &::before {
    content: 'Legend';
  }
}
