@import "styles/variables";
@import "styles/mixins";

.services {
  @include respond-above(md) {
    display: flex;
    justify-content: space-evenly;
  }
}

.service {
  text-align: center;
  max-width: 350px;
  margin-bottom: 40px;

  &:not(:last-of-type) {
    @include respond-above(md) {
      margin-right: 7em;
    }
  }

  @include respond-above(md) {
    margin-bottom: 0;
  }

  img {
    width: 160px;
    height: 160px;
  }

  h4 {
    margin: 20px 0;
  }
}
