.services {
  display: flex;
  justify-content: space-evenly;
}

.service {
  text-align: center;
  max-width: 350px;

  &:not(:last-of-type) {
    margin-right: 7em;
  }

  img {
    width: 160px;
    height: 160px;
  }

  h4 {
    margin: 20px 0;
  }
}
