@import "styles/variables";
@import "styles/mixins";

.date {
  color: $secondary;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 5px
}

.description {
  font-size: 1.1em;
}

.img {
  width: 100%;
  height: 227px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}

.info {
  margin-top: 16px;
}

