@import "styles/variables";
@import "styles/mixins";

.date {
  color: $secondary;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 5px
}

.description {
  font-size: 1.1em;
}

.edit,
.delete {
  padding-left: 5px;
  font-size: 14px;
}

.img {
  width: 100%;
  height: 227px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.info {
  margin-top: 16px;
}

.menu {
  position: absolute;
  top: .5em;
  right: .5em;
  color: $secondary;
}
