@import "styles/variables";
@import "styles/mixins";

.date {
  color: $secondary;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 5px
}

.description {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 5px;
  opacity: .8;
  @include overflowEllipsis;
}

.edit,
.delete {
  padding-left: 5px;
  font-size: 14px;
}

.img {
  width: 100%;
  height: 227px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.info {
  margin-top: 16px;
}

.menu {
  position: absolute;
  top: .5em;
  right: .5em;
  color: $secondary;
}

.title {
  font-size: 1.1em;
}

.wrapper {
  @include respond-above(lg) {
    min-height: 410px;
    max-height: 410px;
  }
}
