@import "styles/variables";
@import "styles/mixins";

body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #222831;
  color: #ECECEC;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  line-height: 25px;
}

@font-face {
  font-family: 'Mulish';
  src: url('../public/assets/fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('../public/assets/fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish-SemiBold';
  src: url('../public/assets/fonts/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish-Light';
  src: url('../public/assets/fonts/Mulish-Light.ttf') format('truetype');
}