@import "styles/variables";
@import "styles/mixins";

.header {
  height: calc(768px - 80px);
  display: flex;
  align-items: center;
  padding: 0 8em;
}

.greet {
  color: #03DAC6;
}

.info {
  font-size: 20px;
  margin-top: 30px;
}

.knowMore {
  margin: 3em 0;
}

.moreBlogs {
  margin: 3em 0;
  text-align: center;
}

.name {
  font-size: 3em;
}

.paragraph {
  font-size: 30px;
}


