.home {
  height: calc(100vh - 70px);
  min-height: 500px;
  max-height: 768px;
  position: relative;
}

.greet {
  color: #03DAC6;
}

.header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info {
  font-size: 20px;
  margin-top: 30px;
}

.knowMore {
  margin: 3em 0;
}

.name {
  font-size: 3em;
}

.paragraph {
  font-size: 30px;
}


