@import "styles/variables";
@import "styles/mixins";

.header {
  height: calc(768px - 80px);
  display: flex;
  align-items: center;
  padding: 0 2em;

  @include respond-above(md) {
    padding: 0 8em;
  }

  @include respond-above(hhg) {
    padding: 0 300px;
  }
}

.greet {
  color: #03DAC6;
}

.info {
  font-size: 20px;
  margin-top: 30px;
}

.knowMore {
  margin: 3em 0;
}

.moreBlogs {
  margin: 3em 0;
  text-align: center;
}

.name {
  font-size: 36px;
  line-height: 1.5;

  @include respond-above(md) {
    font-size: 3em;
  }
}

.paragraph {
  font-size: 1.5em;

  @include respond-above(md) {
    font-size: 30px;
  }
}


