@import "styles/variables";
@import "styles/mixins";

.linkContent {
  display: flex;
  align-items: center;

  span {
    padding-left: 10px;
  }
}

.logo {
  margin: 3em auto;
  display: block;
  max-width: 150px;
}

.navList {
  list-style: none;

  li {
    padding: 1em 2em;
    cursor: pointer;
  }

  li.active {
    color: $secondary;
    font-weight: bold;
  }

  li:hover {
    background-color: #1C2127;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}